* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: border-box;
}
body{
    font-family: "DM Sans", sans-serif;
}
input, button, textarea, select {
  font: inherit;
}
ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
button {

background: transparent;
}
.container {
padding-left: 20px;
padding-right: 20px;
max-width: 600px;
margin-left: auto;
margin-right: auto;
}
.thankyou-container {
padding-left: 20px;
padding-right: 20px;
max-width: 860px;
margin-left: auto;
margin-right: auto;
}
@media (min-width: 1440px) {
  .container {
    padding-left: 0px;
padding-right: 0px;
/* max-width: 900px; */
}
  .thankyou-container {
    padding-left: 0px;
padding-right: 0px;
}
}
@media (min-width: 1920px) {
  .container {
/* max-width: 1038px; */
}
}


.footer-container {
padding-left: 20px;
padding-right: 20px;
margin-left: auto;
margin-right: auto;
}

/*main button*/
.main-button { 
  display: block;
   width: 100%;
background: #F558ED;
border: none;
border-radius: 53px;
border-width: 1px;
position: relative;
isolation: isolate;
cursor: pointer;
  z-index: 1;
  padding: 15px 46px;
font-family: "Rajdhani", sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 120%;
letter-spacing: 0;
text-transform: uppercase;
color: #FFFFFF;

}

.button-wrapper {
    width: 100%;
     margin-top: 11px;
  position: relative;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.button-wrapper::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -6px;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 53px;
  z-index: 0;
  pointer-events: none;
}
/* banner */
.hero-paywall-banner {
/* width: 375px; */
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
}
.header {
    padding-top: 9px;
    display: flex;
    justify-content: space-between;
}
.header-button {
    width: 139px;
height: 32px;
top: 9px;
left: 216px;
gap: 10px;
border-radius: 53px;
padding-top: 9px;
padding-right: 11px;
padding-bottom: 9px;
padding-left: 11px;
background: #000000;
font-family: "Rajdhani", sans-serif;
font-weight: 600;
font-size: 12px;
line-height: 120%;
letter-spacing: 0;
text-transform: uppercase;
color: #FFFFFF;
}
.paywall-title {
font-weight: 500;
font-size: 26px;
line-height: 110.00000000000001%;
letter-spacing: 0;
vertical-align: middle;
margin-top: 30px;
}
.paywall-choose {
font-weight: 400;
font-size: 20px;
line-height: 110.00000000000001%;
letter-spacing: 0;
vertical-align: middle;
color: #00C742;
margin-top: 15px;
}


/*paywall-plan*/
.paywall-plan {

}
.paywall-plan-button {
position: relative;
cursor: pointer;
}
/* .paywall-plan-button:hover {
  scale: 105%;
} */
.paywall-plan-block {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 33px;
}
.paywall-plan-month {
border-radius: 20px;
border-width: 1px;
padding: 30px 20px;
border: 1px solid #000000;
}
.paywall-plan-name-title {
font-weight: 500;
font-size: 18px;
line-height: 110.00000000000001%;
letter-spacing: 0;
vertical-align: middle;
text-align: left;

}
.paywall-plan-name-description {
  margin-top:  8px;
font-weight: 300;
font-size: 14px;
line-height: 110.00000000000001%;
letter-spacing: 0;
vertical-align: middle;

}
.paywall-plan-price-title {
font-weight: 400;
font-size: 16px;
line-height: 110.00000000000001%;
letter-spacing: 0;
vertical-align: middle;
text-align: right;

}
.paywall-plan-price-perday {
margin-top: 5px;
font-weight: 800;
font-size: 18px;
line-height: 110.00000000000001%;
letter-spacing: 0;
vertical-align: middle;
color: #00C742;
}
.paywall-plan-three-month {
border: 1px solid #000000;
border-radius: 20px;
padding: 30px 20px;
text-align: left;
position: relative;
}
.paywall-plan-list::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  background: #000000; 
  font-size: 1em; 
  line-height: 1;
  border-radius: 50%;
}
.paywall-plan-wrapper {
  display: flex;
  justify-content: space-between;
  
}
.paywall-plan-ckeck-list {
  margin-top: 20px;
display: flex;
flex-direction: column;
  gap: 5px;
font-weight: 300;
font-size: 16px;
line-height: 110.00000000000001%;
letter-spacing: 0;
vertical-align: middle;

}
.paywall-plan-ckeck-block {
  display: flex;
  gap: 10px;

}
.paywall-plan-unlock {
  margin-top: 30px;
  text-align: left;
 max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, max-height 0.3s ease;
  padding-bottom: 10px;
}
.paywall-plan-button.active-plan .paywall-plan-unlock {
  max-height: 100px; /* або скільки треба */
  opacity: 1;
}
.paywall-plan-days-free {
  margin-top: 15px;
  padding-left: 16px;
    font-weight: 300;
    font-size: 16px;
    line-height: 110.00000000000001%;
    letter-spacing: 0;
    vertical-align: middle;
    position: relative;
}
.paywall-plan-unlock-titile {
font-weight: 500;
font-size: 16px;
line-height: 110.00000000000001%;
letter-spacing: 0;
vertical-align: middle;

}
.paywall-plan-list-block {
margin-top: 15px;
display: flex;
flex-direction: column;
gap: 10px;
}
.paywall-plan-list {
  padding-left: 16px;
font-weight: 300;
font-size: 16px;
line-height: 110.00000000000001%;
letter-spacing: 0;
vertical-align: middle;
position: relative;
}
.bold {
font-weight: 700;
}
.paywall-plan-year {
  border: 1px solid #000000;
  border-radius: 20px;
  padding: 30px 20px;
}
.paywall-plan-button.active-plan {
  border: 1px solid #00C742;
  background: #00C74233;
}


/*your_plan*/
.your_plan {
  /* display: none; */
  margin-top: 80px;
}
.your_plan_title {
font-weight: 500;
font-size: 26px;
line-height: 110.00000000000001%;
letter-spacing: 0;
vertical-align: middle;

}
.your_plan_checkout-wrapper {
border-radius: 20px;
border: 1px solid #000000;
padding: 30px 20px;
margin-top: 20px;
}
.your_plan_checkout-price {
  display: flex;
  justify-content: space-between;
}
.paywall-plan-then {
font-weight: 800;
font-size: 14px;
line-height: 110.00000000000001%;
letter-spacing: 0;
vertical-align: middle;

}
.most_popular {
  background: #F558ED;
  color: #FFFFFF;
position: absolute;
top: -13px;
    right: 20px;
border-radius: 19px;
padding: 5px 10px;
}
.best {
  background: #FFEE00;
  color: #000000;
position: absolute;
top: -13px;
    right: 20px;
border-radius: 19px;
padding: 5px 10px;
}
@media (min-width: 768px) {
.button-wrapper {
    width: 60%;
}
}
 @media (min-width: 1440px) {
  .footer-container {
    padding-left: 40px;
    padding-right: 40px;
  }
.paywall-title {
    text-align: center;
    font-size: 42px;

}
.paywall-choose {
    text-align: center;
    font-size: 22px;
}
.paywall-plan-name-title {
    font-size: 22px;
    text-align: left;
}
.paywall-plan-name-description {
    font-size: 18px;
}
.paywall-plan-price-title {
    font-size: 18px;
}
.paywall-plan-price-perday {
    font-size: 20px;

}
.paywall-plan-ckeck-list {
    font-size: 18px;
}
.paywall-plan-unlock-titile {
    font-size: 18px;
}
.paywall-plan-list {
    font-size: 18px;
}
.paywall-plan-then {
  font-size: 18px;
}
.paywall-plan-days-free {
  font-size: 18px;
}

 }
@media (min-width: 1920px) {
    .footer-container {
    padding-left: 80px;
    padding-right: 80px;
  }
.header-logo {
  width: 188px;
}
.hero-paywall-banner {
  padding-top: 12px;
}
.header-button {
font-size: 18px;
width: auto;
height: auto;
padding: 16px 38px;
}
.paywall-plan {
  margin-top: 58px;
}
    .paywall-title {
        font-size: 48px;
    }
    .paywall-choose {
        font-size: 32px;
    }
    .paywall-plan-name-title {
        font-size: 28px;
    }
    .paywall-plan-name-description {
        font-size: 24px;
    }
    .paywall-plan-price-title {
        font-size: 20px;
    }
    .paywall-plan-price-perday {
        font-size: 24px;
    }


}



/*footer*/
   .footer {
    margin-top: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #00C742;
    border-radius: 20px;
    position: relative;
    

   }
   .footer-wrapper {
    position: relative;
   }
   .footer-background {
    width: 335px;
height: 461px;
/* background-image: url(../img/vector_7.png); */
padding: 30px;
position: relative;
    z-index: 1;
   }
   .footer-features {
    margin-top: 39.5px;
font-weight: 500;
font-size: 16px;
line-height: 145%;
letter-spacing: -0.1px;
vertical-align: middle;
color: #00C742;
   }
   .footer-list-link-wraper {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
   }
   .footer-list-link {
font-weight: 300;
font-size: 16px;
line-height: 145%;
letter-spacing: -0.1px;
vertical-align: middle;

   }
   .footer-policy-wraper {
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    gap: 10px;
   }
   .footer-policy {
font-weight: 300;
font-size: 14px;
line-height: 145%;
letter-spacing: -0.1;
vertical-align: middle;
text-decoration: underline;
text-decoration-style: solid;
text-decoration-thickness: 0;
text-decoration-skip-ink: auto;

   }
   .footer-rights-reserved {
font-weight: 400;
text-decoration: none;

   }
   .scroll-to-top {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 1000;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: position 0.3s ease, bottom 0.3s ease;
}

.scroll-to-top.sticky {
  position: fixed;
  bottom: 2rem;
  right: 40px;
  top: auto;
}
.footer-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 461px;
    z-index: 0;
    pointer-events: none;
    object-fit: fill;
}




 @media (min-width: 466px) { 
   }
   @media (min-width: 576px) { 
   }
   @media (min-width: 768px) { 
   }
   @media (min-width: 1024px) { 
    /* .scroll-to-top {
      display: none;
    } */
       .footer-background {
    width: 100%;
height: 260px;

       }
       .footer-bg {
    height: 260px;
       }
 .footer-list-link-wraper {
flex-direction: row;
 } 
 .footer-features {
    margin-top: 10px;
 }      
.footer-list-link {
    flex: 1;
    text-align: center;
}
.footer-policy-wraper {
    margin-top: 30px;
    display: flex
;
    flex-direction: row;
    gap: 10px;
}


   }
  @media (min-width: 1440px) {
       .footer {
    margin-top: 110px;
    padding-top: 40px;
    padding-bottom: 40px;
       }
    .footer-bg {
        height: 350px;
    }
           .footer-background {
height: 350px;
       }
    .footer-logo {
        width: 130px;
    }   
 .footer-features {
    font-size: 20px;
 }
 .footer-list-link {
    font-size: 18px;
 }
 .footer-list-link-wraper {
    margin-top: 25px;
 }
 .footer-policy {
    font-size: 18px;
 }
 .footer-rights-reserved {
    font-size: 18px;
 }
     .footer-policy-wraper {
        gap: 50px;
    }

   }
  @media (min-width: 1920px) { 
       .footer {
    margin-top: 180px;
    padding-top: 60px;
    padding-bottom: 60px;
       }

        .footer-bg {
        height: 436px;
    }
           .footer-background {
height: 436px;
padding: 70px;
       }
.footer-logo {
        width: 189px;
    }
    .footer-features {
        font-size: 26px;
        margin-top: 22px;
    }
    .footer-list-link {
        font-size: 24px;
    }
    .footer-list-link-wraper {
        margin-top: 10px;
    }
        .footer-policy-wraper {
        margin-top: 53px;
        }


   }



   /*thank you */
   .thankyou {
    margin-top: 30px;
   }
   .thankyou-title {
font-weight: 500;
font-size: 26px;
line-height: 1.1;
letter-spacing: 0;
vertical-align: middle;

   }

.thankyou-subtitle {
font-weight: 400;
font-size: 20px;
line-height: 110.00000000000001%;
letter-spacing: 0%;
vertical-align: middle;
color: #00C742;
margin-top: 15px;
margin-bottom: 40px;
}
.thankyou-sms-notification {
  margin-top: 40px;
  text-align: center;
}
.thankyou-sms-notification-text {
font-weight: 300;
font-size: 16px;
line-height: 1.1;
letter-spacing: 0;
text-align: center;
vertical-align: middle;
margin-top: 10px;
}
@media (min-width: 768px) {  
.thankyou {
    text-align: center;
}
}

@media (min-width: 1024px) {  
.thankyou {
    margin-top: 40px;
}
.thankyou-title {
    font-size: 30px;
}
}
@media (min-width: 1440px) {  
.thankyou {
    margin-top: 70px;
}
.thankyou-title {
    font-size: 48px;
}
.thankyou-subtitle {
  font-size: 32px;
  margin-top: 15px;
  margin-bottom: 40px;

}
.thankyou-button-wrapper {
  width: 599px;
}
.thankyou-button {
font-weight: 700;
font-size: 22px;
line-height: 120%;
letter-spacing: 0;
text-transform: uppercase;
padding: 21px 0;
}
.thankyou-sms-notification {
  margin-top: 100px;
}
.thankyou-sms-notification img {
  width: 80px;
  height: 80px;
}
.thankyou-sms-notification-text {
  font-size: 24px;
}


}